{% extends 'index.html' %}
{% block title %}{{ cate_name }}{% endblock %}
{% block article_activate %}active-menu{% endblock %}
{% block home_activate %}{% endblock %}
{% block content %}
<div class="card" style="margin: unset;">
	<h1 class="page-header" style="text-align: center">{{ cate_name }}</h1>
	<br/>
    {% for article in articles %}
    <a href={% url 'article-details' article.id %} class="list-group-item">
       	<h4 class="list-group-item-heading">
        	{{ article.title }}
        </h4>
        <p class="list-group-item-text">
            {{ article.date }}
        </p>
    </a>
    {% endfor %}
	{% if articles.paginator.num_pages > 1 %}
	<div style="text-align: center">
	<ul class="pagination">
        {% if articles.has_previous %}
    		<li>
            	<a href="?page={{ articles.previous_page_number }}" aria-label="Previous">
    				<span aria-hidden="true">&laquo;</span>
    			</a>
    		</li>
        {% endif %}
        {% for pg in articles.paginator.page_range %}
    		{% if articles.number == pg %}
    			<li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
    		{% else %}
    			<li><a href="?page={{ pg }}">{{ pg }}</a></li>
    		{% endif %}
    	{% endfor %}
        {% if articles.has_next %}
    		<li>
            	<a href="?page={{ articles.next_page_number }}" aria-label="Next">
    				<span aria-hidden="true">&raquo;</span>
    			</a>
    		</li>
        {% endif %}
    </ul>
	</div>
	{% endif %}
</div>
{% endblock %}
