<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <title>{% block title %}主页{% endblock %}</title> 
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/static/blog_new/assets/materialize/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="/static/blog_new/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/blog_new/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/static/blog_new/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/static/blog_new/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/static/blog_new/assets/js/Lightweight-Chart/cssCharts.css"> 
</head>
<body>
<style>
	html {height: 100%;}
	body {height: 100%;}
	#wrapper {height: 100%; padding: 60px 0 0;}
	.top-navbar	{margin: -60px 0 0;}
	#page-wrapper {min-height: 100%; position: unset;}
	.collapse {display: unset;}
</style>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand waves-effect waves-dark" href="/index"><i class="large material-icons">track_changes</i> <strong>Atlantis</strong></a>
				<div id="sideNav" href="">
					<i class="material-icons dp48">toc</i>
				</div>
            </div>
        </nav>
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a class="{% block home_activate%}active-menu{% endblock %} waves-effect waves-dark" href="/index"><i class="glyphicon glyphicon-home"></i> Home</a>
                    </li>
                    <li>
                        <a class="{% block article_activate%}{% endblock %} waves-effect waves-dark">
							<i class="glyphicon glyphicon-pencil"></i>
								 Articles
							<span class="fa arrow"></span>	
						</a>
						<ul class="nav nav-second-level collapse in" aria-expanded="true">
							<style type="text/css">
								.nav_article_list:hover
								{
									background-color:#1F2837
								}
							</style>
							<li class="nav_article_list">
                                <a href="/articles/archive">文章归档</a>
                            </li>
							<li class="nav_article_list">
								<a href="/articles/tags">标签汇总</a>
							</li>
							{% block context %}
						    {% for category in categorys %}
							<li class="nav_article_list">
								<a href="/articles/category/{{category.name}}">{{ category.name }}
								<span class="badge badge-info right" style="background-color: #F44336">{{ category.num_posts }}</span></a>
							</li>
							{% endfor %}
							{% endblock context %}
						</ul>
                    </li>
					<li>
                        <a href="/e_books" class="{% block e_book_activate%}{% endblock %} waves-effect waves-dark"><i class="glyphicon glyphicon-book"></i> E-Books</a>
                    </li>
                    <li>
                        <a href="/photos" class="{% block gallery_activate%}{% endblock %} waves-effect waves-dark"><i class="glyphicon glyphicon-picture"></i> Gallery</a>
                    </li>
					<li>
                        <a href="/films" class="{% block film_activate%}{% endblock %} waves-effect waves-dark"><i class=    "glyphicon glyphicon-film"></i> Videos</a>
                    </li>
                    <li>
                        <a href="/mail" class="{% block contact_activate%}{% endblock %} waves-effect waves-dark"><i class="glyphicon glyphicon-envelope"></i> Contact Me</a>
                </ul>
            </div>
        </nav>
      
		<div id="page-wrapper">
			<div class="header"> 
                <h1 class="page-header" style="text-align: center">
                	{% block inner-title %}Welcome to my website!{% endblock %}
                </h1>
			</div>
			<div class="page-content" style="padding-left: 1%;padding-right: 1%;">
			{% block content %}
			<div class="blog">
				<br/>
				<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537332745417&di=f628118c0beee549f5562cd100a445c0&imgtype=0&src=http%3A%2F%2Fcdn2.scratch.mit.edu%2Fget_image%2Fgallery%2F1415516_170x100.png" width="100%">
			</div>
			{% endblock %}
			</div>
    </div>
    <script src="/static/blog_new/assets/js/jquery-1.10.2.js"></script>
    <script src="/static/blog_new/assets/js/bootstrap.min.js"></script>
	<script src="/static/blog_new/assets/materialize/js/materialize.min.js"></script>
    <script src="/static/blog_new/assets/js/jquery.metisMenu.js"></script>
    <script src="/static/blog_new/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/blog_new/assets/js/morris/morris.js"></script>
	<script src="/static/blog_new/assets/js/easypiechart.js"></script>
	<script src="/static/blog_new/assets/js/easypiechart-data.js"></script>
	<script src="/static/blog_new/assets/js/Lightweight-Chart/jquery.chart.js"></script>
    <script src="/static/blog_new/assets/js/custom-scripts.js"></script> 
</body>
</html>
